# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea 

/custom/pactera/*/gensrc/
/custom/pactera/*/testsrc/
/custom/pactera/*/classes/
/custom/pactera/*/build.xml
/custom/pactera/*/gensrc/*.java
/custom/pactera/*/testsrc/*.java
/custom/pactera/pacteracockpits/gensrc

/config/solr/instances/
